<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>IOT Page</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
  <!-- My lib -->
  <script src="lib/canvasjs.min.js"></script>
  <script src="lib/react.js"></script>
  <script src="lib/react-dom.js"></script>
  <script src="lib/browser.min.js"></script>
  <script src="lib/jquery-3.2.1.min.js"></script>
  <script src="lib/bootstrap.min.js"></script>
  <link href="css/layout.css" rel="stylesheet">
  <link href="lib/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="lib/bootstrap-toggle.min.js"></script>
  <script src="lib/jquery.form.min.js"></script>
  <!-- <script src="js/main.js">
  </script> -->
  <!-- <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/bootstrap.min.css"> -->

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" onClick="window.location.replace('/');" style="color: #fff;">IOT Project</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" onClick="window.location.replace('/');" style="color: #fff;">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" onClick="window.location.replace('/files');" style="color: #fff;">
            <i class="fa fa-file fa-fw" aria-hidden="true"></i>
            <span class="nav-link-text">File Server</span>
          </a>
        </li>
        <!-- <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" onClick="window.location.replace('/data');" style="color: #fff;">
            <i class="fa fa-file fa-fw" aria-hidden="true"></i>
            <span class="nav-link-text">Table Data</span>
          </a>
        </li> -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
          <a class="nav-link" onClick="window.location.replace('/about');" style="color: #fff;">
            <i class="fa fa-fw fa-user-circle"></i>
            <span class="nav-link-text">About us</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="d-lg-none">Messages
              <span class="badge badge-pill badge-primary">12 New</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">New Messages:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>Dang Thinh</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">Have a good day, Sir</div>
            </a>
            <div class="dropdown-divider"></div>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="img/avatar.jpg" class="img-circle text-center" style="height: 30px;width:30px;"></img>
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <!-- <h6 class="dropdown-header">New Alerts:</h6> -->
            <!-- <div class="dropdown-divider"></div> -->
            <a class="dropdown-item" href="#">
              <span class="glyphicon glyphicon-user"></span>
              <i class="fa fa-user" aria-hidden="true"></i> Profile</a>
            <a class="dropdown-item" href="#">
              <span class="glyphicon glyphicon-user"></span>
              <i class="fa fa-cog" aria-hidden="true"></i> Setting</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="glyphicon glyphicon-user"></span>
              <i class="fa fa-window-close-o" aria-hidden="true"></i> Log out</a>
          </div>
        </li>

      </ul>
      </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <h1>Upload File</h1>
      <form id="frmUploader" enctype="multipart/form-data" action="#" method="post">
        <input type="file" name="imgUploader" multiple />
        <input type="submit" name="submit" id="btnSubmit" value="Upload" />
      </form>
      <hr class="divider">
      <div id="file"></div>
    </div>
  </div>
  <!-- /.container-fluid-->
  <!-- /.content-wrapper-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Thinh Dang 2017</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <!-- My script -->
  <script type="text/babel" src="js/fileHandle.js"></script>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/popper/popper.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="lib/sb-admin.min.js"></script>
  <!-- <script type="text/babel" src="js/main.js"></script> -->

  <!-- Custom scripts for this page-->
  <script src="lib/sb-admin-datatables.min.js"></script>
  <script src="lib/sb-admin-charts.min.js"></script>
  </div>
</body>

</html>