.div-note{
  width:150px;
  padding: 5px;
  margin: 3px;
  border: solid 3px green;
  border-radius: 5px;

}
.add-project {
  background: #5584ff none repeat scroll 0 0;
  border-radius: 50px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 27px 20px 45px;
  position: relative;
  text-align: center;
  outline: none;
  text-decoration: none;
}
.lamp {
  height: 100px;
  width: 80px;
  background-color: powderblue;
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px; */
  margin:  0 auto;
}
.weather {
  height: 80px;
  width: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  /* margin:  0 auto; */
}
.exweather {
  height: 100px;
  width: 80px;
  background-color: powderblue;
  /* margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px; */
  margin:  0 auto;
}
.wrap
{
    width: 640px;
    height: 393px;
    margin:  0 auto;
    padding: 0;
    overflow: hidden;
}

.frame
{
    width: 1280px;
    height: 786px;
    border: 0;

    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lastNoti {
  padding: 5px;
  margin: 5px;
}
.admin {
  height: 200px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}